* {margin: 0; padding: 0;}
body {background-color: #91b250; 
    color: #0f7a44; font: 0.8125em Verdana, sans-serif; }

h1 {font: 1.5em Georgia, "Times New Roman", serif; 
    letter-spacing: 1px; color: #871053}

a {color:#d63691}
button {margin: 5px 5px 10px 0px; background-color: buttonface;
    border: 2px outset buttonface; color: buttontext; cursor: default; 
    padding: 2px 6px 3px; text-align: center; -webkit-appearance: button;}

div#main {margin: auto; width: 70%;}
div#comments {margin: 0 10px; padding: 50px 5px; 
              background-color: #fff; height: 100%; /* border: 1px dotted #0f7a44; */}
div#comments form span.form-link {}
div#comments ul {list-style-type: none;}
div#comments li {padding-left: 20px}
div.comment {border-left: 1px dotted #ccc; margin-left: 5px; padding-left: 5px;}